{
  "plugins": [
    "mocha"
  ],
  "extends": [
    "mongodb-js/node",
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "require-jsdoc": "off",
    "no-multiple-empty-lines": "error",
    "valid-jsdoc": "off",
    "mocha/no-skipped-tests": "warn",
    "mocha/no-exclusive-tests": "error"
  }
}
